@tailwind base;
@tailwind components;
@tailwind utilities;


#dark-label {
    width: 50px;
    height: 25px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    -webkit-box-shadow: inset 0 5px 15px,
        inset 0 -5px 15px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 5px 15px, inset 0 -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
#dark-label:after {
    content: "";
    width: 20px;
    height: 20px;
    top: 2.5px;
    left: 2.5px;
    position: absolute;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#ffcc89),
        to(#d8860b)
    );
    background: -o-linear-gradient(top, #ffcc89, #d8860b);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#dark-input {
    width: 0;
    height: 0;
    visibility: hidden;
}
#dark-input:checked + #dark-label:after {
    left: 45px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#777),
        to(#3a3a3a)
    );
    background: -o-linear-gradient(top, #777, #3a3a3a);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
#dark-label,
#dark-label:after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#dark-label:active:after {
    width: 20px;
}
#dark-input:checked + #dark-label {
    background: #242424;
}
#dark-label svg {
    position: absolute;
    width: 15px;
    top: 5px;
    z-index: 100;
}
#dark-label svg.sun {
    left: 5px;
    fill: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#dark-label svg.moon {
    right: 5px;
    fill: #7e7e7e;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#dark-input:checked + #dark-label svg.sun {
    fill: #7e7e7e;
}
#dark-input:checked + #dark-label svg.moon {
    fill: #fff;
}

.button-edit {
    @apply p-3 bg-gray-400 dark:bg-gray-700 rounded-md shadow-md font-bold hover:bg-gray-500 dark:hover:bg-gray-600 text-white;
}
.btn-green {
    @apply p-3 bg-green-500 dark:bg-green-700 text-white dark:text-gray-300 rounded-md shadow-sm font-bold hover:bg-green-500 dark:hover:bg-green-800;
}
.btn-yellow {
    @apply p-3 bg-yellow-400 dark:bg-yellow-700 dark:text-gray-300 rounded-md shadow-sm font-bold hover:bg-yellow-500 dark:hover:bg-yellow-800;
}


del {
    @apply text-red-400 text-sm;
}

.btn-primary {
    @apply p-3 bg-indigo-500 dark:bg-indigo-700 text-gray-300 rounded-md shadow-sm font-bold hover:bg-indigo-600 dark:hover:bg-indigo-600;
}

.btn-danger {
    @apply p-3 bg-red-400 dark:bg-red-700 text-gray-300 rounded-md shadow-sm font-bold hover:bg-red-500 dark:hover:bg-red-800;
}
.input {
    @apply dark:bg-gray-600 dark:text-gray-300 dark:placeholder:text-gray-400 w-44 rounded-md;
}

.caro-img {
    @apply w-full object-contain lg:h-[50vh];
}
.carousel__pagination-button ::after {
    @apply dark:bg-gray-600;
}
.carousel__pagination-button--active ::after {
    @apply dark:bg-gray-500;
}

.is-dragging {
    @apply pointer-events-none;
}

.carousel__prev,
.carousel__next {
    @apply dark:text-white dark:hover:text-gray-400;
}
